# submit file
universe = vanilla

# IMPORTANT! Require execute servers that have Staging:
Requirements = (Target.HasCHTCStaging == true)

container_image = hytraits_container.sif

# Set files to capture log, standard output & error
log = log/$(Cluster)_$(Process).log
error = err/$(Cluster)_$(Process).err
output = out/$(Cluster)_$(Process).out

# transfer pre post
transfer_input_files = hytraits.tar.gz, $(PROJECT).tar.gz

# Specify executable
executable = ./predict.sh

# Arguments to pass to the executable
arguments = $(USERNAME) $(PROJECT) $(MODELS)  

should_transfer_files = YES

request_cpus = 1
request_disk = 16GB
request_memory = 8GB

queue USERNAME,PROJECT,MODELS from PARAMSFILE
